# Local environment variables (sensitive)
.env
.env.*
!.env.example

# Python compilation files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE & system files
.vscode/
.idea/
.DS_Store

# Other Files
gemini-resume.txt

